<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/home.js"></script>
</head>
<body>
<table>
    <tr>
        <td valign="top" width="50%">
            <form>
                <button id="open">Open</button>
                <button id="close">Close</button>
                <button id="ready">Ready</button>
                <button id="unReady">UnReady</button>
                </br>
                <input id="input" type="text" value="Hello world!">
                <button id="send">Send</button>
                <div id="divScore" style="display: none">
                    <input id="score" type="text" value="Hello world!" type="number">
                    <button id="callScore" onclick="callScore()">叫分</button>
                </div>
            </form>
        </td>
        <td valign="top" width="50%" style="background: coral">
            <div id="output"></div>
        </td>
    </tr>
</table>
</body>
</html>