.container {
    height: 100%;
    width: 100%;
    background: beige;
    position: absolute
}
.divPlay {
    height:300px;
    width:100%;
    background: beige;
    position: relative;
    border:3px solid orangered;
}
.divCards {
    height:250px;
    width:100%;
    background: beige;
    position: relative;
    overflow: auto;
    border:3px solid orangered;
}
.divCard {
    align-self:center;
    height: 100%;
    width: max-content;
    background:burlywood;
    position: relative;
    display: inline-block;
    border:1px solid aqua;
}
.divNum {
    height: 50%;
    width: 100%;
    position: relative;
}
.divColor{
    height: 50%;
    width: 100%;
    position: relative;
}
.divButton {
    height: 150px;
    width: 100%;
    background: beige;
    position: relative;
    border:3px solid orangered;
}